
<h1>Welcome</h1>

{% if user.is_authenticated %}
    Hello
        {{ user.username }}!
        {{ user.display_name }}
<!--        Jalon helped with this-->
        {{ settings.AUTH_USER_MODEL }}

<a href="/logout/"><button>Log Out</button></a>

{% else %}
    <h2>You're not logged in!</h2>
    <a href="/login/"><button>Log In</button></a>
    <a href="/signup/"><button>SignUp</button></a>

{% endif %}
